* {
    margin: 0;
    padding: 0;
}

.body {
    background: linear-gradient(to right, rgba(127, 255, 212, 0.498), rgba(60, 67, 67, 0.521));
    justify-content: center;
    text-align: center;
    display: flex;
}
.individual_name{
    /* margin-left: 900px; */
    font-weight : 600;
    padding-left: 500px;
    font-size: x-large;

}
.questioncard {
    text-align: left;
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.518);
    color: rgba(240, 240, 240, 0.9);
    border-radius: 2px 15px;
    width: 700px;
    height: 500px;
}

.ansbtn {
    margin: 70px;
    padding: 10px;
}

.btn {
    transition-duration: 0.7s;
    margin: 3px;
    padding: 10px;
    background-color: blanchedalmond;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    font-size: larger;
    font-weight: bolder;
    color: rgb(46, 46, 46);
}

.bg_buttons{
    border-radius: 5px;
    background-color: black;
    color: white;
    height: 40px;
    width: 100px;
}
.btn:hover:not([disabled]) {
    transition-duration: 0.1s;
    background-color: black;
    color: blanchedalmond;
    cursor: pointer;
}

.btn:disabled {
    cursor: no-drop;
}

.btn:active.btn:hover:not([disabled]) {
    /* background-color:  aquamarine; */
    transition-duration: 0.1s;
    background: linear-gradient(to right, rgba(127, 255, 212, 0.498), rgba(60, 67, 67, 0.521));
    color: black;
}

ul {
    list-style-type: upper-alpha;
}

li {
    list-style-type: lower-alpha;
}

.next-btn {
    transition-duration: 0.7s;
    width: 30%;
    height: 10%;
    border: none;
    border: 2px solid rgb(16, 5, 5);
    border-bottom: 0px;
    border-right: 0px;
    border-radius: 10px 3px;
    font-size: 200%;
    color: azure;
    display: none;
    margin: 20px auto;
    background-color: rgba(84, 84, 223, 0.696);
}

.next-btn:hover {
    transition-duration: 0.1s;
    background-color: azure;
    color: rgba(84, 84, 223, 0.696);
    cursor: pointer;
    font-weight: bold;
}

.next-btn:active {
    transition-duration: 0.1s;
    background: linear-gradient(to right, rgba(127, 255, 212, 0.498), rgba(60, 67, 67, 0.521));
    color: azure;

}

.correct {
    background: rgb(98, 150, 98);
}

.incorrect {
    background: rgb(158, 97, 97);
}
